<div class="container-fluid" style="border-top: solid 0.5px #164741;">
	<div class="row bg-dark p-0 pt-5 pb-3">
		<div class="col-12 text-md-center text-white pt-5">
			<div>
				<h5 class="title-product" >This is a Angular 13 Boiler Plate</h5>

				<br>
				<div id="trigger-left"
				class="d-block d-lg-none">
					<img src="/assets/images/placeholder/banner.png"
					 class="banner-image">
				</div>

				<h1 class="title-main text-uppercase" >Angular Boiler Plate<br> for MoveUp Team</h1>


				<button class="btn btn-primary mt-5 hvr-forward" routerLink="/account/signup">Join MoveUp Now

				</button>
			</div>

			<br><br><br><br><br>

		</div>
	</div>
</div>
