<div class="container py-5 px-lg-5 mt-lg-5">
	<div class="row p-0 py-5 mt-0 mt-lg-5 px-lg-5">
		<div class="col-12 col-lg-6 ps-lg-5 pe-lg-5 mb-4 mb-lg-0">
			<h3 class="title-main text-uppercase" >Lorem Ipsum</h3>

			<h5 class="title-sub pe-lg-5">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur
			</h5>

			<div class="d-flex mt-5 pe-lg-2">
				<div class="icon-holder bg-dark-blue me-4">
					<img src="/assets/images/placeholder/play-button.png" class="icon-image hvr-wobble-top">
				</div>
				<div>
					<h5 class="title-about hvr-grow">Sed ut perspiciatis </h5>
					<p class="title-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
				</div>
			</div>

			<div class="d-flex mt-4 pe-lg-2">
				<div class="icon-holder bg-dark-blue me-4">
					<img src="/assets/images/placeholder/play-button.png" class="icon-image hvr-wobble-top">
				</div>
				<div>
					<h5 class="title-about hvr-grow">unde omnis iste </h5>
					<p class="title-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
				</div>
			</div>

			<div class="d-flex mt-4 pe-lg-2">
				<div class="icon-holder bg-dark-blue me-4">
					<img src="/assets/images/placeholder/play-button.png" class="icon-image hvr-wobble-top">
				</div>
				<div>
					<h5 class="title-about hvr-grow">natus error</h5>
					<p class="title-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.</p>
				</div>
			</div>
		</div>

		<div class="col-12 col-lg-6 text-center">
			<img src="/assets/images/placeholder/logo-2.png" class="banner-image">
		</div>
	</div>
</div>
